<section class="authors">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <b>Ricardo</b>Barbosa
      </div>
      <div class="slide">
        <b>Rui</b>Martins
      </div>
      <div class="slide">
        <b>Ricardo</b>Barbosa
      </div>
      <div class="slide">
        <b>Rui</b>Martins
      </div>
    </div>
  </div>
</section>